*{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 400vh;
    width: 98vw;
    background-color: black;
    color: white;
}
h1{
    text-align: center;
    font-size: 50px;
    padding: 70px;
    color: rgb(175, 155, 118);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
header #intro{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 22px;
}
header #intro p{
    height: 100%;
    width: 50%;
}
header #intro img{
    height: 300px;
    border-radius: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
main #desenvolvimento{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px;
}
main #desenvolvimento p{
    width: 80%;
    font-size: 22px;
}
main #desenvolvimento img{
    height: 400px;
    width: 500px;
    border-radius: 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer #conclusao{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
footer #conclusao p{
    font-size: 22px;
}
footer #conclusao img{
    height: 400px;
    width: 360px;
    border-radius: 10px;
}
#list{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    border-radius: 10px;
    background-color: rgb(175, 155, 118);
}
#list h2 li{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 30%;
    
}
#list h2{
    font-size: 22px;
    padding: 1%;
}
h3{
    font-size: 24px;
    padding: 12px;
    color:rgb(175, 155, 118);
}
